<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h2>503 - internal server error, try again.</h2>
            <%- include('./partials/auth.ejs') %>
        </div>
    
        </br>
        
    </body>
    <%- include('./partials/footer.ejs') %>
</html>