/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
  padding: 50px;
}

h2 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.login {
  width: 300px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login h1 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login input[type="text"],
.login input[type="password"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.login input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background-color: #4cae4c;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* styles.css */
auth {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

auth a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

status {
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

auth a:hover {
  background-color: #333;
  color: white;
}

.status, .auth {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}